{% extends 'base.html' %}

{% block title %}Itineraries{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/carousel.css">
{% endblock %}

{% block body %}
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner" id="popular-itineraries">
            <!-- add popular itineraries in carousel -->
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- search bar -->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img src="/static/img/browse-itineraries.png" class="img-fluid" alt="browse itineraries header">
                <!-- <h2 class="fw-light">Browse Existing Itineraries</h2> -->
                <p>
                    <form>
                        <div class="col-auto">
                            <input type="text" class="form-control" name="search-location" id="search-location" placeholder="Enter city or zipcode">
                        </div>
                        <div class="col-auto">
                            <button type="submit" id="search" class="w-100 btn btn-lg btn-primary">Search</button>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </section>


    <!-- <form>
        <label for="search-bar">Enter city or zipcode:</label>
        <input type="text" name="search-location" id="search-location">
        <button type="submit" id="search">Search</button>
    </form> -->

    <div id="top-rated"></div>

    <div class="container marketing">
        <div class="row" id="search-results">
            <!-- start loop here -->
            <!-- <div class="col-lg-4">
                <img src="...">
                <h2 class="fw-normal">Heading</h2>
                <p>"Some representative placeholder..."</p>
                <p>
                    <a class="btn btn-secondary" href="#">View details</a>
                </p>
            </div> -->
            <!-- end loop here -->

        </div>
    </div>

    <script src="/static/browse_itineraries.js"></script>
{% endblock %}