{% extends 'base.html' %}

{% block title %}Create Itinerary{% endblock %}

{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">Create a new itinerary!</h2>
            <p>
                <form action="/new_itinerary" method="POST">
                    <div class="col-auto">
                        <input type="text" name="title" id="title" class="form-control" placeholder="Title of new itinerary">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
                    </div>
                </form>
            </p>
        </div>
    </div>
</section>
{% endblock %}