{% extends 'base.html' %}

{% block title %}Itineraries{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/carousel.css">
{% endblock %}

{% block body %}
    <!-- flights search bar -->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img src="/static/img/search-flight-deals.png" class="img-fluid" alt="search flight deals header">

                    <form>
                        <div class="col-auto">
                            <input type="text" class="form-control" name="city_from" id="city_from" placeholder="Enter origin city">
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" name="city_to" id="city_to" placeholder="Enter destination city">
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" name="desired_price" id="desired_price" placeholder="Desired price">
                        </div>
                        <div class="col-auto">
                            <!-- <button type="submit" id="search" class="w-100 btn btn-lg btn-primary">Track Flights</button> -->
                            <button class="w-100 btn btn-lg btn-primary" type="submit" id="search" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Search</button>
                        </div>
                    </form>
                
                <div id="search-results" style="background-color: white;"></div>    
            </div>
        </div>

        <!-- section for search results  -->

        <!-- <div class="col-lg-6 col-md-8 mx-auto" id="search-results-container"> -->

        </div>

    </section>

    <script src="/static/flight_deals.js"></script>
{% endblock %}