{% extends 'base.html' %}

{% block title %}{{itinerary_name}}{% endblock %}

{% block body %}
    <h1>{{itinerary_name}} by {{username}}</h1>
    
    <button id="like">Like</button>
    <p id="total-likes"></p>

    <div class="card mb-3" style="max-width: 840px;" id="itinerary-list">

    </div>

    <script src="/static/itinerary_view_mode.js"></script>
    {% if session.get("logged_in_user") == username %}
        <button id="edit">Edit Itinerary</button>

        <div id="edit-fields"></div>

        <script src="/static/itinerary.js"></script>
    {% endif %}

{% endblock %}