{% extends 'base.html' %}

{% block title %}{{itinerary_name}}{% endblock %}

{% block body %}
<main class="container">
    <h1>"{{itinerary_name}}" by {{username}}
    
    <button id="like" class="btn btn-success">Like</button>
    </h1>
    <span id="total-likes"></span>

    <div class="card mb-3" style="max-width: 840px;" id="itinerary-list">

    </div>

    <script src="/static/itinerary_view_mode.js"></script>
    {% if session.get("logged_in_user") == username %}
        <button id="edit" class="btn btn-primary">Edit Itinerary</button>

        <span id="edit-fields"></span>

        <script src="/static/itinerary.js"></script>
    {% endif %}
</main>

{% endblock %}