{% extends 'base.html' %}

{% block title %}{{user.username}}'s Saved Flights{% endblock %}

{% block body %}
<main class="container">
    <section class="p-4 p-md-5 mb-1 rounded">
        <div class="col-md-3 px-0 center">
            <img src="/static/img/itineraries.png" alt="itineraries header">
            <!-- <h1 class="display-4">{{user.username}}'s Itineraries</h1>        -->
        </div>
    </section>

    <ul class="list-group" id="saved_flights_container">

    </ul>
</main>

<script src="/static/saved_flights.js"></script>
    
{% endblock %}